<div class="nav-container">
  <button class="menu">Menu</button>
  <nav class="size">
    <ul class="nav">
      <li class="<%= selected?(root_url) %>">
        <%= link_to 'Home', root_url, class: 'homeIcon' %>
      </li>

      <li class="<%= selected?(page_about_url) %>">
        <%= link_to 'About Me', page_about_url %>
      </li>

      <li class="<%= selected?(page_portfolio_url) %>">
        <%= link_to 'Portfolio', page_portfolio_url %>
      </li>

      <li class="<%= selected?(page_contact_url) %>">
        <%= link_to 'Contact Me', page_contact_url %>
      </li>
    </ul>
  </nav>
</div>