<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>

  <% if content_for?(:stylesheets) %>
    <%= yield :stylesheets %>
  <% else %>
    <%= stylesheet_link_tag "application", media: "all" %>
  <% end %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <% if content_for?(:head) %>
    <%= yield :head %>
  <% end %>

</head>

<body>
  <%= render 'shared/header' %>

  <div class="content-container">
    <div class="content <%= current_page %>-content">
      <%= yield %>
    </div>
    <aside class="sidebar">
      <% if content_for?(:sidebar) %>
        <%= yield :sidebar %>
      <% end %>
    </aside>
  </div>

  <%= render 'shared/footer' %>

  <%= render 'shared/preload' %>
</body>
</html>
